<form action="/new_create" method="post" class="form-inline well">
  <input type="text" name="phrase" required="required" pattern="[A-Za-zА-Яа-яЁё]{1,30}[,:-]?" placeholder="Start a phrase" value="<%= params["phrase"]	%>" autofocus>
  <input class="btn btn-success" type="submit" value="Submit">
</form>
