<form action='/login' method='post' class="form-inline well">
	<h1>Input your login!</h1>
  <input type="text" name='username' required="required" placeholder="username" autofocus>
  <input class="btn btn-success" type='submit' value='Login'>
</form> 
