.DS_*
.idea/*

/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/bin/*
/lib/*
/app/helpers/*
/app/mailers/*
/test/*
/vendor/*
/node_modules
/yarn-error.log

.byebug_history

/config/environments/*
/config/initializers/*
/config/locales/*
