.pagination > li > a {
  color: #28a745;
}

.pagination > li.active > a,
.pagination > li.active > a:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

