[submodule "2015/tkarpesh/1"]
	path = 2015/tkarpesh/1
	url = https://github.com/tkarpesh/courses-task1
[submodule "2015/vahotm"]
	path = 2015/vahotm
	url = https://github.com/vahotm/ROR-Homeworks
[submodule "2015/EugeneArt/1"]
	path = 2015/EugeneArt/1
	url = https://github.com/EugeneArt/animation
[submodule "2015/Socucius/1"]
	path = 2015/Socucius/1
	url = https://github.com/Socucius/Train
[submodule "2015/AleksSenkou"]
	path = 2015/AleksSenkou
	url = https://github.com/AleksSenkou/rubyroid_labs
[submodule "2015/vahotm-git"]
	path = 2015/vahotm-git
	url = git@github.com:vahotm/ROR-Homeworks.git
[submodule "2015/ddzyanis/1"]
	path = 2015/ddzyanis/1
	url = https://github.com/ddzyanis/Ruby_animation
[submodule "2015/Rewerson"]
	path = 2015/Rewerson
	url = https://github.com/Rewerson/BSUIROR
[submodule "2015/EragonBY"]
	path = 2015/EragonBY
	url = https://github.com/EragonBY/Ruby
[submodule "2015/Neyr129"]
	path = 2015/Neyr129
	url = https://github.com/Neyr129/Curses
[submodule "2015/Wrenched-man/1"]
	path = 2015/Wrenched-man/1
	url = https://github.com/Wrenched-man/ascii-player
[submodule "2015/DenPhaser"]
	path = 2015/DenPhaser
	url = https://github.com/DenPhaser/Rubyroid_DrawPointsVeryRandomMuchEpicWow
