$primary-color: #000;
$light-gray: #f0f0f0;
$red: #c00;
$white: #fff;

body {
  background-color: $white;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $primary-color;

  &:visited {
    color: #666;
  }

  &:hover {
    color: $white;
    background-color: $primary-color;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  color: #008000;
}

.error_explanation {
  background-color: $light-gray;
  border: 2px solid #ff0000;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;

  h2 {
    background-color: $red;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px;
    text-align: left;
  }

  li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
