<aside class="span4">
  <section class="dump unit">
  	<h2>Actual currency rate:</h2>
  	<h2><%= $currency_data.first %></h2>
  	<h2><%= $currency_data.last %></h2>
  	<h1>Updated <%= time_ago_in_words($time) %> ago.</h1>
  </section>
</aside>
