<div class="container center-block ">
  <div class="row col-lg-6 col-md-offset-3">
    <h1 class="h1 text-center">Новое объявление</h1>
    <%= render 'form', advert: @advert %>
    <br>
  </div>
</div>
