<div class="container" id="demoApp">
<form class="pure-form pure-form-aligned" name="frm" method="post"
      novalidate autocomplete="off">
    <fieldset>

        <div class="pure-control-group">
            <label>Username</label>
            <input name="username" ng-model="user.name" type="text" placeholder="Username" required>
            <div class="field-message" ng-messages="frm.username.$error" ng-if='frm.username.$dirty' ng-cloak>
                <div ng-message="required">Username is required</div>
            </div>
        </div>

        <div class="pure-control-group">
            <label>Password</label>
            <input name="password"
                   ng-model="user.password"
                   type="password"
                   placeholder="Password"
                   required
                   ng-minlength="6"
                   ng-maxlength="10">
            <div class="field-message" ng-messages="frm.password.$error" ng-if='frm.password.$dirty' ng-cloak>
                <div ng-message="required">Password is required</div>
                <div ng-message="minlength">Password must have minimum 6 characters</div>
                <div ng-message="maxlength">Password must have maximum 10 characters</div>
            </div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary"
                    ng-disabled="frm.$invalid" ng-click="addUser()">Sing up</button>
            <button type="submit" class="pure-button pure-button-primary"
                    ng-disabled="frm.$invalid" ng-click="login()">Log in</button>
        </div>
    </fieldset>
</form>
</div>
