<div id="phrases-list" class="row">
    <div>
        <my-content></my-content>
        <form name="form">
        Word: <input type="text" name="word" ng-maxlength="15"
              ng-pattern="/^[a-zA-Z,';:-]+$/" ng-model="word.text"required/>
        </form>
    </div>
    <div class="col-sm-8 col-sm-offset-3" ng-repeat="phrase in phrases">
        <div>
            <button class="btn btn-info" ng-click="getHistory(phrase._id.$oid)">
              history
            </button>
            <button class="btn btn-info" ng-click="addWord(phrase._id.$oid)"
                    ng-show="phrase.editable && logged" ng-disabled="form.$invalid">
                Add Word
            </button>
        <span class="col-sd-4" ng-repeat="word in phrase.words track by $index">
            {{word.text}}
        </span>
        </div>
    </div>

</div>
