div class="col-md-4 col-md-offset-4"  
  form id="word" action="/submit_phrase" method="post"
    input class="form-control" type="text" placeholder="Введи одно слово для фразы (можно с запятой)" name="phrase" 
    input class="btn btn-primary" type="submit" value="Добавить"   