@import "bootstrap";

$light-gray: #777;

$darker-gray: #bbb;

$white-1: #ffffff;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
 }
}
// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $light-gray;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

.logo {
  color: $white-1;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
  color: $white-1;
  text-decoration: none;
   }
}

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// forms

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $darker-gray;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto;
}

