<div id="comments" style="display: none;">
  <%= bootstrap_form_for ([@advertisement, @advertisement.comments.build]) do |f| %>
    <p>
      <%= f.text_area :body%>
    </p>
    <p><%= f.submit "Create comment", class: "btn btn-success btn-md" %></p>
  <% end %>
</div>
