@import "bootstrap";

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner {
  width: 250px;
  height: 200px;
}

.carousel-inner img {
  margin: auto;
}

@media(max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}