<link rel="stylesheet" href="/jumbotron-narrow.css">

<div class="list-group">
<% @hash.each do |key, value| %>
<a href="/edit?id=<%=key%>"  id="<%=key%>" class="list-group-item  "> <%=value["text"]%> 
	<span class="badge <%if session[:username] == value["id_user"]%> red <%else%> green<%end%>"><%=value["id_user"]%></span></a><br>
<% end %>
<style type="text/css">
   .red { 
    background-color: red;
   }
   .green { 
    background-color: green;
   }
  </style>
</div>

