<!DOCTYPE html>
<html>
  <head>
    <title>Game of Life</title>
  </head>
  <body>
    <h1>The Amazing Game of Life</h1>
    <form action="create" method="POST">
      Rows:
      <br>
      <input type="number" name="rows" min="2">
      <br>
      Columns:
      <br>
      <input type="bumber" name="columns" min = "2">
      <br>
      <br>
      <input type="submit" value="Play!">
    </form>
  </body>
</html>