<HTML>

<HEAD>

<META http-equiv="Content-Type" content="text/html; charset=utf-8" />

<META http-equiv="Content-Style-Type" content="text/css">

<LINK rel="stylesheet" type="text/css" href="main.css">

<SCRIPT language="JavaScript" type="text/javascript" src="logic.js"></SCRIPT>

<TITLE>Жизнь</TITLE>

</HEAD>

<BODY>

<H1>Игра Жизнь</H1>

<SCRIPT language=JavaScript type="text/javascript">Life.putM();</SCRIPT>
<SCRIPT language=JavaScript type="text/javascript">Life.BringLifeCells();</SCRIPT>

</BODY>

</HTML>
