
<html lang="en">
  <head>
  <h1 placeholder="inputed"class="bg-pageheader" name="inputed"><%= $word %> </h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Phrase generator </title>

  </head>

  <body>
        <form  method="POST" class="form-inline well">
          <h2 class="form-signin-heading">Input word to add</h2>
          <label for="inputWord" class="sr-only">Word</label>
          <input size="60px" type="word1" id="inputWord" class="form-control" placeholder="New word" name="word1" required autofocus>

          <button class="btn btn-primary" type="submit" > Add </button> 
        </form>
      </div>
    </body>
  </html>