<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body>
  <div class="text-center">
  <img src="/images/Yu!.png" class="rounded" alt="...">
</div>
    <span class="container">
      <form class="form-signin" method="POST" action="/registrate">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputNick" class="sr-only">Nickname</label>
        <input type="nick" id="inputNick" class="form-control" placeholder="Nick name" name="nick_name" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit"  >Sign in</button>
      </form>
    </span>