<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @announcement.text %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @announcement.contacts %>
</p>

<%= link_to 'Back' , announcements_path %>
