<p>
  <strong>Заголовок:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Текст:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Контакты:</strong>
  <%= @article.contact %>
</p>
<a href="\articles" class="btn btn-info" role="button">Назад</a>
