<main role="main">
<div class="row marketing">
  <div class="col-lg-6">
    <% @posts.each do |post| %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= "#{post.kind} #{post.item}" %></p>
    <% end %>
  </div>
</div>
<%= will_paginate @posts %>
</main>
