<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style type="text/css">

      .black-link, .black-link:visited, .black-link:hover {
        color: black;
        float: right;
      }

      .padding-top-50 {
        padding-top: 50px;
      }
      .padding-bottom-50 {
        padding-bottom: 50px;
      }

      .btn-pencil {
        float: right;
      }

      ul .list-group-item {
        font-size: 16px;
      }
      body {
        font: 20px "Montserrat", sans-serif;
        line-height: 1.8;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Messenger</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/add/word">Add sentence</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <!--  <li><a href="/login/form">Login</a></li>
              <li><a href="/logout">Logout</a></li> -->
              <% if username == "" %>
                  <li><a href="/login/form">Login</a></li>
              <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                  </ul>
              <% end %>
            
            </li>
               
          </ul>
        </div>
      </nav>

      <div>
            <%= yield %>
      </div>

  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="/vendor/jquery-1.9.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="/vendor/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
