<h3 class="text-warning padding-top-50 text-center"><%= @error %> </h3>

<div class="text-center padding-top-50">
	<form action='/login/attempt' method='post' class="form-inline well">
	  <input type="text" name='username' placeholder="username" autofocus>
	  <input class="btn btn-default" type='submit' value='login'>
	</form>
</div>
