<div class="col-md-4">

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>B2B exchange</h4>
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-unstyled">
                  <li>1 Bitcon
                  </li>
                </ul>
            </div>
            <div class="col-lg-1">
                <ul class="list-unstyled">
                  <li>=</li>
                </ul>
            </div>
            <div class="col-lg-7">
                <ul class="list-unstyled">
                  <li><%= @bonstic_cost&.cost %> Bonstic
                  </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

</div>
