<div class="row align-self-center align-items-center">
  <div class="col-5 m-2 text-center">
    <%= image_tag "about.png" %>
  </div>
  <div class="col-4 m-1 text-center">
    <h3 class="jumbotron-heading">About B2B</h3>
    <p class="lead">This billboard is build to connect people who wish to buy/sell Bonsticks using bitcoins.</p>
    <p class="text-center">
      <%= link_to 'OK', articles_path, class: 'btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn' %>
    </p>
  </div>
</div>
