<nav class="navbar navbar-light" style="background-color: #e3f2fd; border-bottom: 5px solid; border-color: #20B2AA;" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="https://bitinfocharts.com/img/bitcoin%20gold.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Create new lot!', new_article_path, class: 'btn btn-success' %>
</li>
    </ul>
  </div>
</nav>
