<form action="/new_phrase" method="post">
	<input id="input-word" name="word" type="text"/>
	<button type="submit" class="button button-block"/>Add word!</button>
</form>

<script src="js/index.js"></script>