<div class="inner-bg">
    <div class="container">

            <div class="row" style="margin-top: -20px">
              <div class="col-sm-6 col-sm-offset-3">

                <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Enter a New Expense</h3>
                        <% if flash.has?(:message) %>
                          <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                    </div>

                  <div class="form-bottom">
                    <form  action="/expenses" method="post" >

                      <div class="form-group">
                        <label class="sr-only" for="form-description">Description</label>
                        <input type="text" name="description" placeholder="Description..." class="form-username form-control" id="form-description" >
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="form-amount">Amount</label>
                        <input type="text" name="amount" placeholder="Amount..." class="form-amount form-control" id="form-amount">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="date">Date</label>
                        <input class="form-date" type="date" name="date"  placeholder="YYYY-MM-DD" value ="<%= Time.now.strftime('%F') %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>
                      </div>

                      <div class="form-group">
                        <label  style="color: white; -webkit-font-smoothing: antialiased !important;" for="category">Category</label>
                        <select name="category_name" onchange="yesnoCheck(this);">
                              <% current_user.categories_sort_by_name.each do |category| %>
                                <option  name="category_name"><%= category.name %></option>
                              <%end%>
                              <option value="new category">Create Category</option>
                        </select>
                      </div>

                      <div class="form-group" id="ifYes" style="display: none;">
                        <label class="sr-only" for="category">Add New Category</label>
                        <input type="text" id="create category" placeholder="Add category here..." name="no_name"/>
                      </div>


                        <button type="submit" class="btn btn-success">Create Expense</button>
                    </form>

                  </div>
              </div>
            </div>
    </div>
</div>
