<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">BONSTIKS TRADE</a>
  </div>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   articles_path %></li>
      <li><%= link_to "New ad",   new_article_path %></li>
    </ul>
  </nav>
</div>
</header>
