<h1 class="lead text-center"> GAME WORLD OF PHRASES </h1>
<p class="tagline text-center"> Continue the phrase... </p>
<div class="prokrutka">
     <table class="table">
	<% if @result %>
	<% @result.each do |row| %>
	<tr>
	    <% if row['flag'] == 0 %>
	    <td> <a class = "disabled" href="/history?id=<%= row['id']%>" > <%= row['word'] %> </a> </td>
	    <% else %>
	    <td> <a  href="/history?id=<%= row['id']%>" > <%= row['word'] %> </a> </td>
	    <% end %>
        </tr>
	<% end %>	
	<% end %>
     </table>
</div> <br>
<p class="text-center">
   <a class="btn btn-default btn-lg" href="/new_phrase"> START </a>
</p>