<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>World of Phrases</title>
	<link rel="shortcut icon" href="/assets/img/earth.png">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<div class="navbar navbar-fixed-top ontop-now navbar-inverse">
		<div class="container">
			<div>	
				<a class="navbar-brand" href="/">
					<img src="assets/img/logo.png"> 
				</a>
			</div>
			<div>
				<ul class="nav navbar-nav pull-right">
					<%if @user then %>
  					    <li><a> Hello, <%= @user %>!</a></li>
  					<% elsif %>  
  						<li><a class="btn btn-rounded" href="/login">SIGN IN </a></li>
			        <% end %>
				</ul>
			</div>
		</div>
	</div>

	<header class="head head-default">
		<div class="container">
			<div>
			    <%= yield %>
			</div>	
		</div>
	</header>
</body>
</html>