/public/js/bootstrap.js
/public/js/bootstrap.min.js
/public/js/jquery-3.1.1.js
/public/js/npm.js

/public/css/bootstrap.css
/public/css/bootstrap.css.map
/public/css/bootstrap.min.css
/public/css/bootstrap.min.css.map
/public/css/bootstrap-theme.css
/public/css/bootstrap-theme.css.map
/public/css/bootstrap-theme.min.css
/public/css/bootstrap-theme.min.css.map
