<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Expensy</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../assets/font-awesome/css/font-awesome.min.css">
		    <link rel="stylesheet" href="../../../assets/css/form-elements.css">
        <link rel="stylesheet" href="../../../assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif] -->

    </head>

    <body>
      <!-- Top content -->
      <div class="top-content">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-list-alt"></span> Expensy </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
              </ul>

              <ul class="nav navbar-nav navbar-right">

                <li><a href="/categories"><span class="glyphicon glyphicon-tasks"></span> Categories </a></li>
                <li><a href="/"><span class="glyphicon glyphicon-th-list"></span> View Expenses </a></li>
                <li><a href="/expenses/new"><span class="glyphicon glyphicon-edit"></span> Add New Expense</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-cog"></span> Edit User Info</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

    <%= yield %>

        </div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">
            <div class="footer-border"></div>
            <p>Made with <span class="glyphicon glyphicon-heart" style="color:red;"></span> by <a href="http://www.adrianprieto.com" target="_blank"><strong>Adrian Prieto</strong></a>
          </div>

        </div>
      </div>
    </footer>


        <!-- Javascript -->
        <script src="../../../assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../../assets/js/jquery.backstretch.min.js"></script>
        <script src="../../../assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
