<form action='/login' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="username" autofocus>
  <input class="btn btn-success" type='submit' value='Login'>
</form>
