<% unless params["phrase"].nil? %>
<div class='alert alert-message'>Your phrase is incorrect. It has bad symbols. Try to enter it again.</div>
<% end %>
<% if @bool %>
<div class='alert alert-message'>Too many requests. You can add only 1 phrase in 30 seconds.</div>
<% end %>
<form action='/new_phrase' method='post' class="form-inline well">
  <input type="text" name='phrase' placeholder="Start a phrase" value="<%= params["phrase"]%>" autofocus>
  <input class="btn btn-success" type='submit' value='Submit'>
</form>
